<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567806440840-fsj67gldilivfn5n8vav2ih2qiu91i0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567806440840-fsj67gldilivfn5n8vav2ih2qiu91i0v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>567806440840-f3o7a686u6ecg772a7ajb4hilmo0emu2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIV_eL4VfO4B83HMgAeg0DL3E6-EqtTBk</string>
	<key>GCM_SENDER_ID</key>
	<string>567806440840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter-firebase-test-app</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-test-ap-191ac</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-test-ap-191ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567806440840:ios:61071ee2049e86c7c4363d</string>
</dict>
</plist>